<div class="doctorsList">
    <mat-card class="filter-bar">
        <mat-card-title class="title">
            Find A Doctor
        </mat-card-title>
        <mat-card-content class="filter">
            <input placeholder="Doctor" class="doctorName" (input)='search_by_spec($event)'>
            <input placeholder="Speciality" class="speciality" (input)='search_by_experience($event)'>
            <button mat-raised-button type="submit" class="filter-button">Filter</button>
        </mat-card-content>
    </mat-card>
    <br>
    <div class="whole">
        <div class="list-of-doctor-cards" *ngFor="let doctor of list">
            <mat-card class="doctor-card">
                <mat-card-title class="doctorTitle">
                    {{doctor.firstName}}
                </mat-card-title>
                <mat-card-content>
                    <div>
                        Specialization : {{doctor.specialization}}</div>
                    <div>
                        Experience : {{doctor.experience}}</div>
                    <div>
                        Fees : {{doctor.feesPerCunsaltation}}</div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>