.doctor-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    /* background-color: #f5f8fa; */
    /* border: 2px solid red; */
    
}
.logOut-btn{
    float:right;
    
}