
.Dashboard{
    width: 96%;
    margin:auto;
    align-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 10%;
    padding-top: 16px;
    .buttons{
        display: flex;
        .create-Appointment{
            background-color: #1ea18b;
            color: whitesmoke;
        }
    }
}

i{
    padding : 3%;
    color: #80818B;
}
.filter-bar{

}
.content{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .list{
        width: 800px;
    }
}
